.AboutUs {
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 1600px;
    height: 100%;
    margin: 0 50px;
}

.AboutUs__content {
    display: flex;
    align-items: center;
    padding: 50px 0;
    font-size: 22px;
    font-weight: 500;
}
@media screen and (max-width: 480px) {
    .AboutUs__content {
        flex-direction: column;
        padding: 5px 0;
        font-size: 30px;
    }
}
.AboutUs__content p {
    padding: 0 10px;
}
