.AboutUs {
    min-width: 1450px;
    min-height: 100px;
    background-color:#bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
    font-size: 22px;
}
p{
    padding: 0 10px;
}
