.examples {
    background-color: #daddde;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container {
    position: relative;
    max-width: 1600px;
    height: 100%;
    margin: 0 50px;
}
.container__pics{}
@media screen and (max-width: 480px) {
    .container__pics {
        display: none;
    }
}

.example:nth-child(odd){
    background: #bfc7d5;
}
.example {
    background-color: #b3f1ff;
}
.example__title {
    color: #ffe;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}
.example__pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.example__picContainer {
    margin: 5px;
    max-width: 700px;
}
.example__pic {
    width: 100%;
}
.container__slider{}
@media screen and (min-width: 480px) {
    .container__slider {
       display: none;
    }
}

