.examples {
    background-color: #0d193e;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container {
    position: relative;
    width: 1600px;
    height: 100%;
    margin: 0 50px;
}

.example {

}
.example__title {
    color: #ffe;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}
.example__pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.example__picContainer {
    margin: 5px;
    max-width: 700px;
}
.example__pic {
   width: 100%;
}

