.examples {
    background-color: #2d2d2d;
    padding: 30px 100px ;
    min-width: 1400px;
}
.example{
    min-width: 1450px;

    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;

}
.example_pic{
    margin: 5px;
    max-width: 700px;
}
.pic{

}
.example_title{
    color: #ffe;
    font-size: 40px;
    font-weight:bold;
    margin: 20px;
}
