.footer {
    height: 100px;
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    width: 1600px;
    height: 100%;
    margin: 0 50px;
    margin: 0 50px;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 0 100px;
    height: 100%;
}
