.footer {
    height: 100px;
    background-color: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    min-width: 1450px;
    padding: 0 100px;
}
